<script>var LHC_API = LHC_API||{};
LHC_API.args = {mode:'widget',lhc_base_url:'https://solidblocks.livehelperchat.com/',wheight:450,wwidth:350,pheight:520,pwidth:500,domain:'solidblocks.de',fresh:true,leaveamessage:true,department:["1"],check_messages:false,proactive:false,lang:'{{ .Get "lang" }}'};
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.setAttribute('crossorigin','anonymous'); po.async = true;
    var date = new Date();po.src = 'https://solidblocks.livehelperchat.com/design/defaulttheme/js/widgetv2/index.js?'+(""+date.getFullYear() + date.getMonth() + date.getDate());
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
