{{- $carouselId := "carousel1" -}}
{{- $images := .Params.carousel -}}
{{ if $images }}
<div id="{{ $carouselId }}" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {{ range $index, $item := $images }}
        <button type="button" data-bs-target="#{{ $carouselId }}" data-bs-slide-to="{{ $index }}"
                class="{{ if eq $index 0 }}active{{ end }}"
                {{ if eq $index 0 }}aria-current="true"{{ end }}
                aria-label="Slide {{ add $index 1 }}"></button>
        {{ end }}
    </div>
    <div class="carousel-inner">
        {{ range $index, $item := $images }}
        <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
            {{ if $item.url }}
            <a href="{{ urls.RelLangURL $item.url }}">
            {{ end }}
                <img src="{{ $item.src }}" class="d-block" height="307" alt="{{ $item.alt }}">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{ $item.caption }}</p>
                </div>
            {{ if $item.url }}
            </a>
            {{ end }}
        </div>
        {{ end }}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#{{ $carouselId }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#{{ $carouselId }}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{{ end }}
